<!-- Name - Rohan Patel-->
<!-- Name - 11247205 -->
<!-- NSID - rsp502 -->
<!-- CMPT 350 Assignment 3 -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>CMPT350A3 - rsp502</title>
    </head>
    <style>
        body{
            margin-left : 5em;
            font-family: "Courier New", Courier, monospace;
        }
        h1{
            font-size: 30px;
        }
        label{
            font-size: 20px;
        }
    </style>
    <body>
        <div>
            <h1>
                Log in
            </h1>
        </div>
        <form action="/signedin" method="POST">
            <div>
                <label style="font-size: 20px">
                    Enter valid Credentials
                </label>
            </div>
            <input type="text" placeholder="Enter username" name="username">
            <input type="password" placeholder="Enter password" name="password">
            <input type="submit">
        </form>
    </body>
</html>