<!-- Name - Rohan Patel-->
<!-- Name - 11247205 -->
<!-- NSID - rsp502 -->
<!-- CMPT 350 Assignment 3 -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>CMPT350A3 - rsp502</title>
    </head>
    <style>
        body{
            margin-left : 5em;
            font-family: "Courier New", Courier, monospace;
            font-size: 30px;
        }
    </style>
    <body>
        <div>
            <h1>Popular Chat Room</h1>
        </div>

        <a href="/home">Go Home</a>
        <h1>
            1
        </h1>
        <h1>
            2
        </h1>
        <h1>
            3
        </h1>
    </body>
</html>