<!-- Name - Rohan Patel-->
<!-- Name - 11247205 -->
<!-- NSID - rsp502 -->
<!-- CMPT 350 Assignment 3 -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>CMPT350A3 - rsp502</title>
   </head>
    <style>
        body{
            margin-left : 5em;
            font-family: "Courier New", Courier, monospace;
        }
        h1{
            font-size: 30px;
        }
        label{
            font-size: 20px;
        }
    </style>
    <body>
        <div>
            <div>
                <h1>
                    Add a Post
                </h1>
            </div>
            <form name="newPost" action="/post/<%=name%>" method="POST">
                <label>Post Here :</label>
                <input type="text" name="content" required>
                <input type="submit">
            </form>
        </div>
    </body>
</html>