<!--Name - Rohan Patel-->
<!--NSID - rsp502-->
<!--Student number - 11247205-->
<!--CMPT 350 Assignment 4-->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Assignment4</title>
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0-rc.1/jquery.mobile-1.1.0-rc.1.min.css" />
        <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
        <script src="http://code.jquery.com/mobile/1.1.0-rc.1/jquery.mobile-1.1.0-rc.1.min.js"></script>
    </head>
    <style type="text/css">
        body{
            margin-left : 10px;
        }
    </style>
    <script>
        </script>
    <body>
    <div id="main-page" data-role="page">
        <div data-role="header"> <h1><%=name%></h1> </div>
        <p>Chat Room</p>
        <% result.forEach(function(r){ %> 
        <p> <%= r.Post%> </p>
<% }) %> 
        <a href="/post/<%=name%>" data-role="button" data-line ="true" > Make A Post </a>
    </div>

    </body>
</html>


