<!--Name - Rohan Patel-->
<!--NSID - rsp502-->
<!--Student number - 11247205-->
<!--CMPT 350 Assignment 4-->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Anssignment 4</title>
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0-rc.1/jquery.mobile-1.1.0-rc.1.min.css" />
        <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
        <script src="http://code.jquery.com/mobile/1.1.0-rc.1/jquery.mobile-1.1.0-rc.1.min.js"></script>
    </head>
    <style type="text/css">
        body{
            margin-left : 3em;
        }
    </style>
    <script>
        </script>
    <body>
    <div data-role="page">
        <div data-role="header"> <h1>ADD A NEW BOARD</h1> </div>
        <form action="/board/new" method="POST">
            <br>
                <label>Name of New Chat Room:</label>
                <input type="text" name="board">
            <input type="submit" value="Submit">
        </form>
    </div>
    </body>
</html>